body>header .masthead {
	display: block;
	background: #859900;
	background-image: none !important;
	background-color: #859900;
}
body>header .masthead:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-size: auto 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.5;
	display: block;
	background-image: url('/assets/img/beta-masthead.png');
}
/*
body.index>header .masthead {
	background: #859900 url('/assets/img/beta-masthead.png') 50% 50% no-repeat;
}
*/
nav.subnav {
	background: #404040;
}
nav.subnav ul.alternates {
	position: absolute;
	top: 0;
	right: 0;
}
nav.global a:link, nav.glbal a:visited {
	text-decoration: none;
}

nav.subnav a:link, nav.subnav a:visited {
	text-decoration: none;
	color: #e2e2e2;
}

section.entity-list dt {
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', sans-serif;
	font-weight: normal;
	font-size: 0.875em;
}
section.entity-list dt a {
	color: #ec7139;
	text-decoration: none;
}
section.entity-list dd.uri {
	color: #a29f06;
	font-size: 0.75em;
	margin-left: 0;
}
section.entity-list dd.uri a {
	text-decoration: inherit;
	color: inherit;
}

@media screen and (max-width: 639px) {
	nav.subnav ul.alternates {
		display: none;
	}
}

tr.title {
	background: #d2d2d2;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
tr.title>th:before {
	content: 'â–¾ ';
}
tbody.collapsed tr {
	display: none;
}
tbody.collapsed tr.title {
	display: table-row;
}
tbody.collapsed tr.title>th:before {
	content: 'â–¸ ';
}
tr.title>th>.thing { color: #268bd2; }
tr.title>th>.place { color: #859900; }
tr.title>th>.event { color: #b58900; }
tr.title>th>.concept { color: #6c71c4; }
tr.title>th>.creative-work { color: #2aa198; }
tr.title>th>.digital-object { color: #dc322f; }
tr.title>th>.agent, tr.title>th>.person, tr.title>th>.group { color: #d33682; }
tr.title>th>.collection { color: #cb4b16; }

section#representations>section>h1 {
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
section#representations>section>h1:before {
	content: 'â–¾ ';
}
section#representations>section.loading>h1:before {
	content: 'â†º ' !important;
}
section#representations>section.collapsed>h1:before {
	content: 'â–¸ ';
}
section#representations>section.collapsed>pre {
	display: none;
}

section#console>.inner>h1 {
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
section#console>.inner>h1:before {
	display: inline-block;
	content: 'â–¾ ';
	min-width: 13pt;
}
section.collapsed#console>.inner>h1:before {
	content: 'â–¸ ';
}
section.collapsed#console>.inner>form {
	display: none;
}

section.object-description:after {
	display: block;
	content: ' ';
	height: 0;
	clear: both;
}
iframe {
	border: solid #e2e2e2 1px;
}

div#console-holder>section#console {
	max-width: initial;
	width: initial;
	background: #404040;
	color: #e6e6e6;
	margin: 0;
	padding: 4pt 0;
	position: relative;
	border-bottom: #e2e2e2 1px;
}
section#console>.inner {
	margin: 0 auto;	
	max-width: 986px;
	width: 100%;
}
div#console-holder>section#console h1 {
	font-size: 0.85em;
	margin: 0;
	padding: 0;
	height: 16pt;
	line-height: 16pt;
}
.field > label {
	display: block;
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', sans-serif;
	font-weight: normal;
	font-size: 0.875em;
}
fieldset {
	border: none;
	outline: none;
	padding: 0;
}
